<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forgot Your Password?</title>
    <meta name="description" content="" />
    <meta name="vuewport" content="width=device-width, initial-scale=1" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='log.css') }}">
    <script src="{{ url_for('static', filename='log.js') }}"></script>
  </head>
  <body>

  <!-- login form -->
  <form action="/forgot-password" method="post">
    <h1>Forgot Your Password?</h1>
    <div>
        <input type="email" name="email" placeholder="Enter your email address" required>
    </div>
    <div>
        <input type="submit" value="Send Email">
    </div>
    {% if error != "" %}
      <p>{{ error }}</p>
    {% endif %}
    <a href="/signup">Sign up</a>
    <a href="/login">Login</a>
    <a href="/">Back to main page</a>
  </form>
  
  <footer>&copy; 2023 Lior Silberman. All rights reserved.</footer>
    
  </body>
</html>