<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WhatsApp Web App</title>
    <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="font-family: monospace; color: aliceblue" href="#">WhatsAppBot</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
                {% if not session['username'] %}
                <ul class="nav navbar-nav navbar-right">
                    <li id="signup-link"><a style="color: aliceblue" href="/signup">Sign Up</a></li>
                    <li id="login-link"><a style="color: aliceblue" href="/login">Login</a></li>
                </ul>
                {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li id="logout"><a style="color: aliceblue" href="/logout">Logout</a></li>
                </ul>
                {% endif %}
            </div>
        </div>
    </nav>
    {% if session['username'] %}
    <div class="container">
        <h1>Welcome, {{ session['username'] }}!</h1>
    </div>
    {% else %}
    <div class="container">
        <h1>Welcome, guest!</h1>
        <div class="appeal-section">
            <h2 class="appeal-title">Join Our Business Community!</h2>
            <p class="appeal-description">Supercharge your business communication with our revolutionary WhatsApp Bot. Unlike other expensive solutions that offer limited features, we pride ourselves on being the most cost-effective option in the market.</p>
            <p class="appeal-description">With our affordable pricing plans, you get access to a comprehensive set of features that allow you to connect with your audience like never before. Send messages to multiple recipients simultaneously and make a lasting impact by including captivating images.</p>
            <p class="appeal-description">Don't break the bank with overpriced alternatives that offer less. Sign up today and experience the perfect balance of affordability and functionality. Join our business community and take advantage of our budget-friendly WhatsApp Bot!</p>
            <a class="signup-link" href="/signup">Sign Up Now</a>
        </div>
        <div class="appeal-section">
            <h2 class="appeal-title">What We Do</h2>
            <p class="appeal-description">At our company, we are committed to revolutionizing business communication through our cutting-edge WhatsApp Bot. Our mission is to provide you with an affordable solution that doesn't compromise on functionality.</p>
            <p class="appeal-description">With our feature-rich platform, you can effortlessly send WhatsApp messages to your audience and amplify your reach. Stand out from the competition by including attention-grabbing images that enhance your communication and leave a lasting impression.</p>
            <p class="appeal-description">Say goodbye to exorbitant pricing and limited features. Join our business community and enjoy the benefits of our cost-effective solution that empowers you to connect with your customers in a meaningful way. Sign up now and unlock the full potential of WhatsApp messaging!</p>
        </div>
    </div>
    {% endif %}

    {% if session['username'] %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="panel1 panel1-default">
                    <div class="panel1-heading">
                        <h3 class="panel1-title">WhatsApp Bot</h3>
                    </div>
                    <div class="panel1-body">
                        <form action="/open-whatsapp" method="POST">
                            {% if message != "" %}
                            <div class="alert alert-info">{{ message }}</div>
                            {% endif %}
                            
                            {% if not max_size %}
                            <div class="alert alert-warning">
                                {{ filename }} exceeds the 16 MB size limit. We recommend compressing the file using <a href="https://videocandy.com/compress-video.html">VideoCandy</a>.
                            </div>
                            {% endif %}

                            {% if sent %}
                            <div class="scrollable">
                                <h4>Recipients:</h4>
                                <ul class="list-group">
                                    {% for name in sent %}
                                    <li class="list-group-item">{{ name }} </li>
                                    {% endfor %}
                                </ul><br>
                            </div>
                            {% endif %}
                            
                            {% if error %}
                            <div class="scrollable">
                                <div class="alert alert-danger">
                                    <ul class="list-group">
                                    {% for name in error %}
                                        <li style="color:red">{{ name }} not found in your contacts.</li>
                                    {% endfor %}
                                </div>
                            </div>
                            
                            {% endif %}

                            {% if not run %}
                            <button class="btn btn-primary" id="open-whatsapp-btn">Open WhatsApp</button>
                            {% elif screenshot_base64 != "" %}
                            <img class="screenshot" src="data:image/png;base64,{{ screenshot_base64 }}" alt="Screenshot">
                            {% endif %} 
                        </form>
                    </div>
                </div>
            </div>
            {% if run and scan == False %}
            <div class="col-md-6">
                <div class="panel1 panel1-default">
                    <div class="panel1-heading">
                        <h3 class="panel1-title">Scan QR Code</h3>
                    </div>
                    <div class="panel1-body">
                        <form id="myForm" action="/scan-qr" method="POST">
                            <h4>Did you scan the QR code?</h4>
                            <label class="rocker rocker-small">
                                <input type="checkbox" id="checkbox">
                                <span class="switch-left">Yes</span>
                                <span class="switch-right">No</span>
                            </label>
                            <input type="submit" id="submitButton" style="display: none;">
                        </form>
                    </div>
                </div>
            </div>
            {% elif scan == True %}
            <div class="col-md-6">
                <div class="panel1 panel1-default">
                    <div class="panel1-heading">
                        <h3 class="panel1-title">Connected to WhatsApp</h3>
                    </div>
                    <div class="panel1-body">
                        <h4>{{ name }} is connected to WhatsApp 👍</h4>
                    </div>
                </div>
            </div>
            {% endif %} 
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel1 panel1-default">
                    <div class="panel1-heading">
                        <h3 class="panel1-title">Send Message</h3>
                    </div>
                    <div class="panel1-body">
                        <form action="/send-message" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="contact">Contact Names:</label>
                                {% if scan %}
                                <textarea class="form-control" id="contact" name="contact" placeholder="name1&#10;name2&#10;name3..." rows="4" required></textarea>
                                {% else %}
                                <textarea class="form-control" id="contact" name="contact" placeholder="name1&#10;name2&#10;name3..." rows="4" required disabled></textarea>
                                {% endif %}
                                <label class="emoji-button1">🙂</label>
                            </div>
                            <div class="form-group">
                                <label for="message">Message:</label>
                                {% if scan %}
                                <textarea class="form-control" id="message" name="message" rows="4" required></textarea>
                                {% else %}
                                <textarea class="form-control" id="message" name="message" rows="4" required disabled></textarea>
                                {% endif %}
                                <label class="emoji-button2">🙂</label>
                            </div>
                            <div class="form-group">
                                <label for="file-input">Media:</label>
                                {% if scan %}
                                <input type="file" class="form-control-file" id="file-input" name="image" accept="image/*,video/*">
                                {% else %}
                                <input type="file" class="form-control-file" id="file-input" name="image" accept="image/*,video/*" disabled>
                                {% endif %}
                                <div class="form-text">Supported file types: images and videos</div>
                            </div>
                            
                            <div class="loader">
                                <div class="dot-spinner">
                                    <div class="dot-spinner__dot"></div>
                                    <div class="dot-spinner__dot"></div>
                                    <div class="dot-spinner__dot"></div>
                                    <div class="dot-spinner__dot"></div>
                                    <div class="dot-spinner__dot"></div>
                                    <div class="dot-spinner__dot"></div>
                                    <div class="dot-spinner__dot"></div>
                                    <div class="dot-spinner__dot"></div>
                                </div>
                            </div>
                            {% if scan %}
                            <input type="submit" class="btn btn-primary" value="Send Message">
                            {% else %}
                            <input type="submit" class="btn btn-primary" value="Send Message" disabled>
                            {% endif %}
                            
                               
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel1 panel1-default">
                    <div class="panel1-heading">
                        <h3 class="panel1-title">Instructions</h3>
                    </div>
                    <div class="panel1-body">
                        <ol>
                            <li>Click on the "Open WhatsApp" button to connect your WhatsApp account. You have 1 minute to complete the connection before the WhatsApp connection closes. If the connection closes, you will need to try again.</li>
                            <li>In the "Contact Names" textarea, add your list of contacts exactly as they are written in your WhatsApp contact list. Each name should be entered on a new line.</li>
                            <li>Enter your desired message in the "Message" textarea. You can also add emojis to your message by clicking on the smiley emoji icon.</li>
                            <li>Optional: If you want to include media, click on the "Add Media" button and select the file you want to send.</li>
                            <li>Once you have added the contact names, message, and optional media, click on the "Send Message" button to initiate the message sending process.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="appeal-section">
                    <div class="contact-us-section">
                        <form class="form" action="/contact-us" method="POST">
                            <div class="title">Contact Us</div>
                            <p class="appeal-description">Discover more about us! Share your details, and we'll reach out to you with all the exciting information.</p>
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" placeholder="Your email" autocomplete="on" required>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="message" id="contact_us_message" placeholder="Your message" required></textarea>
                            </div>
                            <input type="submit" class="btn btn-primary" value="Submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <footer>&copy; 2023 Lior Silberman. All rights reserved.</footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="static/Emoji.js"></script>
    <script src="static/scripts.js"></script>
</body>
</html>
