<!DOCTYPE html>
<html>
<head>
    <title>WhatsApp Web App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>WhatsApp Web App</h1>
    
    <form action="/send-message" method="POST">
        <label for="contact">Contact Name:</label>
        <div class="emoji-container">
            <input type="text" id="contact" name="contact">
            <label class="emoji-button">🙂</label>
        </div>
        <br><br>
        <label for="message">Message:</label>
        <div class="emoji-container">
            <textarea id="message" name="message"></textarea>
            <label class="emoji-button">🙂</label>
        </div>
        
        <input type="submit" value="Send Message">
    </form>
    <footer>&copy; 2023 Lior Silberman. All rights reserved.</footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="static/Emoji.js"></script>
    <script>
        $(document).ready(function() {
            new EmojiPicker({
                trigger: [
                    {
                        insertInto: ['#contact'],
                        selector: '.emoji-button'
                    },
                    {
                        insertInto: ['#message'],
                        selector: '.emoji-button'
                    }
                ],
            })

            // Detect language and set directionality dynamically
            $("#contact, #message").on("input", function() {
                var text = $(this).val();
                var lang = detectLanguage(text);
                setDirectionality($(this), lang);
            });

            function detectLanguage(text) {
                // Implement your language detection logic here
                // You can use external libraries or APIs for more accurate language detection
                // For simplicity, this example assumes English for text containing only ASCII characters
                // and Hebrew for text containing any non-ASCII Hebrew characters
                var regexHebrew = /[\u0590-\u05FF]/;
                if (regexHebrew.test(text)) {
                    return "hebrew";
                } else {
                    return "english";
                }
            }

            function setDirectionality(element, lang) {
                if (lang === "hebrew") {
                    element.css("direction", "rtl");
                    element.css("text-align", "right");
                } else {
                    element.css("direction", "ltr");
                    element.css("text-align", "left");
                }
            }       
        });
    </script>
</body>
</html>
