<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <meta name="description" content="" />
    <meta name="vuewport" content="width=device-width, initial-scale=1" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='log.css') }}">
    <script src="static/log.js"></script>
  </head>
  <body>

  <!-- login form -->
  <form action="/login" method="post">
    <h1>Login:</h1>
    <div>
      <input type="text" id="username" name="username" placeholder="Username" required>
    </div>
    <div>
    <input type="password" id="password" name="password" placeholder="Password" required>
    </div>
    <input type="submit" value="Login">
    {% if error != "" %}
      <p>{{ error }}</p>
    {% endif %}
    <a href="/signup">Sign up</a>
    <a href="/">Back to main page</a>
    <a href="/forgot-password">Forgot your password?</a>
  </form>
  
  <footer>&copy; 2023 Lior Silberman. All rights reserved.</footer>
  
  </body>

</html>