<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forgot Your Password?</title>
    <meta name="description" content="" />
    <meta name="vuewport" content="width=device-width, initial-scale=1" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='log.css') }}">
  </head>
  <body>

  <!-- login form -->
  <form method="POST" action="{{ url_for('reset_password', token=token) }}">
    <h1>Reset Your Password</h1>
    <div>
        <input type="password" name="password" placeholder="Enter your new password" required>
    </div>
    <div>
        <input type="submit" value="Reset Password">
    </div>
    {% if error != "" %}
      <p>{{ error }}</p>
    {% endif %}
    <a href="/signup">Sign up</a>
    <a href="/">Back to main page</a>
  </form>
  
  <footer>&copy; 2023 Lior Silberman. All rights reserved.</footer>
    
  </body>
</html>